@using TeacherDiary.Web.Interfaces

@inject IMessageService MessageService

<div>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }
</div>

@code {
    private string ErrorMessage { get; set; }

    protected override void OnInitialized()
    {
        MessageService.OnError += HandleError;
    }

    private void HandleError(string errorMessage)
    {
        ErrorMessage = errorMessage;
    }
}
